ANTHROPIC_API_KEY=YOUR-ANTHROPIC-API-KEY-HERE

ANTHROPIC_MODEL=SELECTED-ANTHROPIC-MODEL-HERE

NEWSAPI_KEY=NEWSAPI-KEY-HERE

GNEWS_API_KEY=GNEWS-KEY-HERE
GNEWS_LANG=en
GNEWS_COUNTRY=us
GNEWS_MAX=100
GNEWS_TIMEOUT=15

DAILY_QUOTA=50
ROOT_KEYWORD=ROOT KEYWORD HERE
PAGE_SIZE=100